{% extends 'layout.html' %}

{% block title %}
Plant_about
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8 py-5">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h2>{{ plant.plant_name }}</h2>
                </div>

                <div class="card-body">
                    <h3 class="card-title">Plant requirements:</h3>
                    
                    <p class="card-text">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <div class="col-md-6">
                                    <br/>
                                        <b>Sunlight intensity requirement:</b> {{ plant.sun_low }} - {{ plant.sun_hi }}<br/>
                                        <b>Humidity requirement:</b> {{ plant.hum_low }} - {{ plant.hum_hi }}<br/>
                                        <b>Saltiness tolerance:</b> {{ plant.salt_low }} - {{ plant.salt_hi }}<br/>
                                        <b>Fertilizer level:</b> {{ plant.fert_low }} - {{ plant.fert_hi }}<br/><br/>
                                </div>

                                <div class="col-md-6">
                                    {% if plant.plant_pic %}
                                    <img src="{{url_for('static', filename='images/'+ plant.plant_pic)}}" class="img-fluid" width="400" alt="Plant foliage default image placeholder">
                                    {% else %}
                                    <img src="{{url_for('static', filename='images/img_placeholder.jpg')}}" class="img-fluid" width="400" alt="Plant foliage default image placeholder">
                                    {% endif %}
                                </div>

                                <div class="col-md-12 text-end">
                                    <br/>
                                    <a href="{{ url_for('plant_update', id=id) }}" class="btn btn-sm btn-warning">Edit</a>
                                    <a href="{{ url_for('plant_delete', id=id) }}" class="btn btn-sm btn-danger">Delete</a>
                                    <a href="{{ url_for('plant_dashboard') }}" class="btn btn-sm btn-success">Back to PlantBase!</a>
                                </div>
                            </div>
                        </div>
                    </p>
                </div>                    
            </div>
        </div>
    </div>
</div>

{% endblock %}