{% extends 'layout.html' %}

{% block title %}
Create new User
{% endblock %}


{% block content %}

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <div class="text-center">
                    <h4>Please fill up the registration form!</h4>
                    <p></p>
                </div>
                <form method="POST">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.first_name.label(class_="form-label") }}
                        {{ form.first_name(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.last_name.label(class_="form-label") }}
                        {{ form.last_name(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.mail.label(class_="form-label") }}
                        {{ form.mail(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password.label(class_="form-label") }}
                        {{ form.password(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.password1.label(class_="form-label") }}
                        {{ form.password1(class_="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.username.label(class_="form-label") }}
                        {{ form.username(class_="form-control") }}
                    </div>
                    <div class="col-md-12 text-center">
                        {{ form.submit(class_="btn btn-success btn-lg btn-block") }}
                        <a href="{{ url_for('sign_in') }}" class="btn btn-secondary btn-lg btn-block">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}